extends include/layout

block content

  div(ng-controller="expensesController")

    .table-container

      h1.title Here is the report of your last {{ expenses.length }} expense(s).

      a(href="/download").btn-export Export

      .table-wrap
        table
          thead
            tr
              th(colspan="1") Date
              th(colspan="2") Purpose
              th(colspan="1") Amount
              th(colspan="1") Action
          tbody
            tr(ng-repeat="expense in expenses")
              td(colspan="1") {{ expense.spending_date | date:'yyyy-MM-dd' }}
              td(colspan="2") {{ expense.name }}
              td(colspan="1").dollars {{ expense.amount }}
              td(colspan="1")
                button(ng-click="deleteExpense(expense.id)") Remove
                button(ng-click="editExpense(expense)") Edit

    .chart-container

      div(bar-chart chart='chartData')

    form(ng-submit="updateExpense()")
      input(type="text" style="display:none" ng-model="selectedExpenseId")
      input(type="text" ng-model="selectedExpenseDate" placeholder="YYYY-MM-DD" ng-bind="date | date:'yyyy-mm-dd'")
      input(type="text" ng-model="selectedExpenseName" placeholder="Expense description")
      input(type="text" ng-model="selectedExpenseAmount" placeholder="e.g. 1000")
      button(type="submit" ng-hidden="selectedExpenseId == -1") Save
    
    form(ng-submit="addExpense()")
      input(type="text" ng-model="newExpenseDate" placeholder="YYYY-MM-DD")
      input(type="text" ng-model="newExpenseName" placeholder="Expense description")
      input(type="text" ng-model="newExpenseAmount" placeholder="e.g. 1000")
      button(type="submit") Add